/*select {
	width: 100%;
}	*/

/*input.custom-data-type{
	width: 180px !important;
}
*/#GridWrapper,#HeaderWrapper,#FooterWrapper { 
	min-height: 82px;
	background-color: #fff;
	margin: 0 0 25px;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04); }
#GridWrapper { 
	padding: 20px 37px 20px 20px; }
#GridWrapper .rowWrapper { 
	padding: 27px 15px 21px;
	margin-bottom: 14px;
	background-color: #f3f3f3;
	border-radius: 2px;
	position: relative;
	border: 1px solid #e5e5e5;
	/*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);*/ }
#GridWrapper .rowContainer { 
	position: relative; min-height: 100px; -webkit-transition: all .12s ease; -moz-transition: all .12s ease; -o-transition: all .12s ease; transition: all .12s ease; }
#GridWrapper .column { 
	top: 0; left: 0; position: absolute; background-color: rgba(0,0,0,.04); border-top: 1px solid #ebebeb; border-radius: 2px; box-shadow: inset 0 0 25px rgba(100,100,100,.1); }
#GridWrapper .column-header { 
	height: 20px; /*background: #fff;*/ margin-top: -23px; margin-bottom: 3px; }
.no-js #GridWrapper .column-header { 
	opacity: 1; }

/* probably a waste of time, won't work without js */
#GridWrapper .content-element { 
	position: relative; max-width: 100%; min-height: 78px; padding: 10px 30px 10px 14px; border: 1px solid #e0e0e0; border-color: #fff #e8e8e8 #e0e0e0; border-width: 1px 1px 4px; border-radius: 3px; background-color: #f9f9f9; }
#GridWrapper .column-divider { 
	top: 0; height: 100%; position: absolute; overflow: hidden; cursor: w-resize; z-index: 25; width: 4px; }
#GridWrapper #GridEnd { 
	text-align: center; margin: 18px 0 0; }
.handle { 
	cursor: move; background: #f9f9f9 url(../images/handle-bg.png) repeat; }
.content-element .handle { 
	position: absolute; top: -1px; right: 0; width: 16px; height: 100%; background-color: #e5e5e5; border: 1px solid #e3e3e3; border-color: #fff #d6d6d6 #e0e0e0 #dfdfdf; border-radius: 0 3px 3px 0; }
.rowWrapper .rowHandle { 
	top: -1px; right: -20px; width: 19px; height: 100%; position: absolute; background-color: #fcfcfc; border: 1px solid #e5e5e5; border-radius: 0 2px 2px 0; }

/* Header and Footer Panels */
#HeaderWrapper .control-bar,#FooterWrapper .control-bar { 
	padding: 8px 15px;
	background-color: #f9f9f9; 
	border-bottom: 1px solid #d9d9d9;
	position: relative;
	min-height: 27px; }
#HeaderWrapper .inner-container,#FooterWrapper .inner-container { 
	padding: 15px; }
#HeaderSelect,#FooterSelect,#HeaderAddEdit,#FooterAddEdit { 
	text-align: center; position: absolute; width: 100%; left: 0; }
#HeaderAddEdit,#FooterAddEdit { 
	display: none; }
#HeaderAddNew,#FooterAddNew { 
	position: absolute; right: 15px; z-index: 1; }
.control-bar .spinner { 
	position: absolute; left: 0; float: left; margin-left: 15px; }

/* Buttons */
#GridWrapper .add-column,#GridWrapper .add-element { 
	position: absolute; display: block; font-size: 22px; font-weight: 700; text-align: center; width: 25px; height: 25px; line-height: 23px; margin: 0; padding: 0; border-width: 1px; border-style: solid; border-radius: 14px; box-shadow: 0 0 4px rgba(0,0,0,.1); opacity: 0; visibility: hidden; }

/* Add Column Button */
#GridWrapper .add-column { 
	margin-top: -11px; top: 50%; }
#GridWrapper .add-to-start { 
	left: -13px; }
#GridWrapper .add-to-end { 
	right: -13px; }
#GridWrapper .add-column:hover,#GridWrapper .add-element:hover { 
	opacity: 1!important; }

/* Add Element Button */
#GridWrapper .add-element { 
	margin-left: -11px; bottom: -28px; left: 50%; z-index: 1; 

/* remove transitions */-webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; }

/* on empty columns */
#GridWrapper .column.is-empty .add-element { 
	margin: 0 0 -25px -25px!important; bottom: 50%!important; left: 50%; width: 50px; height: 50px; border-radius: 30px; box-shadow: 0 0 30px rgba(0,0,0,.1); border-color: #ddd; opacity: .75!important; visibility: visible!important; }
#GridWrapper .column.is-empty .add-element:hover { 
	border-color: #999; opacity: 1!important; }

/* Add Row Button */
#AddNewRow { 
	margin-right: -17px; }

/* Responsive enable/disable visibility */
#GridWrapper .responsive-visibility { 
	display: inline-block; width: 23px; height: 18px; background: transparent url(../images/responsive-sprite.png) no-repeat -4px -7px; opacity: .4; }
#GridWrapper .responsive-visibility:hover { 
	opacity: .7; }
#GridWrapper .show-on.desktop-view { 
	background-position: -4px -7px; }
#GridWrapper .show-on.tablet-view { 
	background-position: -36px -7px; width: 18px; }
#GridWrapper .show-on.phone-view { 
	background-position: -67px -7px; width: 16px; }
#GridWrapper .hide-on.desktop-view { 
	background-position: -4px -39px; }
#GridWrapper .hide-on.tablet-view { 
	background-position: -36px -39px; width: 18px; }
#GridWrapper .hide-on.phone-view { 
	background-position: -67px -39px; width: 16px; }

/* ----- TEMPORARY ----- Not quite ready for use, so hidden for now */
#GridWrapper .responsive-visibility { 
	display: none!important; }
/* ----- TEMPORARY ----- */

/* Delete Buttons */
.delete-row,.delete-column,.delete-element { 
	float: right; border-radius: 10px; padding: 1px 2px 2px 1px; opacity: .5; -webkit-transition: all .1s linear .1s; -moz-transition: all .1s linear .1s; -o-transition: all .1s linear .1s; transition: all .1s linear .1s; }
.delete-row { 
	position: absolute; top: 0; right: -21px; border-radius: 0 2px 2px 0; padding: 5px 4px 5px 3px; }
.delete-column { 
	position: relative; top: -1px; }
.delete-element { 
	float: none; position: absolute; top: 0; right: -1px; border-radius: 0 2px 2px 0; padding: 1px 2px 1px 0; }
.delete-row:hover,.delete-column:hover,.delete-element:hover { 
	background: #F57873; opacity: 1; }
.delete-row:hover { 
	}
.delete-element:hover { 
	}

/* Inputs and Selects */
#theme-framework select.content-element-type, #theme-framework select.content-element-source, #theme-framework p.optional-label-override-secondary { 
	margin: 20px 0 10px; min-width: 100%; }
#theme-framework select.content-element-source { 
	margin: 20px 0 10px; max-width: 100%; }
.secondary-select { 
	display: none; margin: 14px -14px -10px; background: #ebebeb; padding: 0 14px 10px; }
#theme-framework select.content-element-source { 
	margin: 15px 0 5px; }
#theme-framework .optional-label-override-secondary .input-text {
	max-width: 100% !important; }
#theme-framework #other_options input {
	width: 100% !important; }
#theme-framework #other_options input.input-check,
#theme-framework #other_options input.input-radio{
	width: auto !important; }


/* hide descriptions */
.content-type-help-text span[class^="description-"] { 
	display: none; }
.content-type-help-text span.description-default_content { 
	display: inline; }

/* show only default description for new element */

/**
 * Drag Divider Limit
 * 
 * An invisible element added by gridLayout() to set drag limit on
 * each divider so it can't be too close to another divider or drag
 * past a divider since they're not aware of each other.
 */
#GridWrapper #DragLimit { 
	position: absolute; height: 5px; visibility: hidden; }
#GridWrapper .dragging { 
	z-index: 1001; opacity: .5; cursor: move; }
#GridWrapper .layout-widget-placeholder { 
	border: 2px dashed #ddd; background-color: #f3f3f3; margin: 9px 10px; }

/* Templates */
#RowTemplate,#ColumnTemplate,#OnlyColumnTemplate,#OnlyContentElementTemplate { 
	display: none; }
#poststuff h3.layout-heading,.layout-heading { 
	color: #999; text-align: center; text-transform: uppercase; font-family: Helvetica,Arial,Sans-Serif; font-weight: 800; }

/* Helper Text */
.content-type-help-text,.help-text { 
	min-height: 1.5em; color: #999; font-style: italic; margin-top: 0; }

.optional-label-help-text, .optional-label-help-text-secondary { 
	min-height: 1.5em; color: #999; font-style: italic; margin-top: 0; display: none;}

/* Color Picker and Date Pickers */
.wp-picker-container .iris-picker,#ui-datepicker-div.ui-datepicker { 
	box-shadow: 0 2px 10px rgba(0,0,0,.3); }

/* Color Picker (WP Default) */
.wp-picker-holder { 
	position: absolute; z-index: 100; }
.wp-picker-container .iris-picker { 
	box-shadow: 0 2px 10px rgba(0,0,0,.3); }
.wp-color-result { 
	top: 0;  /* fixes shifting on open/close */}
.iris-slider .iris-slider-offset { 
	

/* fixes weird slider thing */background: transparent; border: none; }

/* Layouts, Header and Footer Lists */
#theme-framework .widefat td { 
	padding: 8px 20px; }
#theme-framework .widefat thead th { 
	padding-left: 20px; padding-right: 20px; }

/* Titles */
/*#post-body-content h3 { 
	font-family: sans-serif; font-weight: 800; padding-left: 0; }*/


/* Meta Boxes in Layout Manager Edit Screen */
.layout-manager #poststuff .postbox .inside h3.container-title {
	padding: 0;
	margin: 1.25em 0 0;
	font-size: 16px;
	border-bottom: 0; }
.layout-manager .postbox-container .postbox .inside .form-table tr table,
.layout-manager .postbox-container .postbox .inside .form-table tr tbody,
.layout-manager .postbox-container .postbox .inside .form-table tr tr,
.layout-manager .postbox-container .postbox .inside .form-table tr th,
.layout-manager .postbox-container .postbox .inside .form-table tr td {
	width: 100%;
	display: block;
	padding: 0;
	margin: 0; }
.layout-manager .postbox-container .postbox .inside .form-table tr th {
	font-weight: bold;
	font-size: 13px;
	line-height: 1.5;
	margin: 1em 0 0.25em; }
.layout-manager .postbox-container .postbox .inside p.description { font-size: 12px; }

/* Hiding extra titles above inputs */
legend[class^='customize-control'], span.customize-control-title { display: none; }

.check-override, .check-override-secondary, .optional-label-override, .optional-label-override-secondary, .optional-label-text-help {
	display: none; }

.sample-code {
	background: #F3F3F3; 
	color: #333; 
	padding: 10px; 
	font-size: 11px; 
	border: 1px solid #EAEAEA;
}	